body {
    font-family: 'Cormorant SC', serif;
    margin: 0px;
}

/* Header Style Starts */
header {
    display: flex;
    justify-content: center;
}

.head-cont {
    width: 1235px;
    height: 618px;
    background: #161616;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 40px 60px 0px 150px;
    margin-top: 50px;
}

.child-cont {
    width: 100%;
}

#div1 {
    padding-right: 100px;
    margin-bottom: 150px;
}

.heading,
.para {
    color: white;
    margin-bottom: 20px;
}

.heading {
    font-size: 70px;
    font-weight: 700px;
}

.para {
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 50px;
}



.header-button {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 16px 25px;
    background: #DD0000;
    border-radius: 5px;
    transition: width 9s ease-in;
}

.header-button:hover {
    width: 400px;
}

/* .header-button {} */

.fa-angle-right {
    margin-left: 10px;
}


.header-img {
    width: 581px;
    height: 620px;
}

/* Header Style ends */

/* Blog section starts */

main {
    display: flex;
    justify-content: center;

}

.main-sec {
    display: flex;
    width: 1430px;
    justify-content: center;
    margin-top: 140px;
    gap: 20px;
}

/* Mini side bar styling */

.mini-cont {
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 252px;
    background: #161616;
    border-radius: 10px;
    padding: 30px;
}

.sidebar-btn {
    width: 252px;
    height: 64px;
    border-radius: 10px;
}

#btn-1,
#btn-2 {
    background-color: white;
    color: #161616;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}

#btn-3 {
    background-color: #DD0000;
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Mini side bar styling */

/* blogs styling starts */

.blog-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    row-gap: 20px;
}

.blog-divs {
    border: 1px solid rgb(241, 240, 240);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.blogs {
    width: 312px;
    height: 362px;
    row-gap: 30px;
}

.blog-cont .blog-divs .blogs img {
    width: 351px;
    height: 175px;
}

.blog-texts {
    margin-left: 30px;
}

.artical-btn {
    display: flex;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #161616;
    align-items: center;
    border: 2px solid rgb(110, 108, 108);
    border-radius: 5px;
    width: 100px;
    height: 32px;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
}

.blog-para {
    font-size: 18px;
    columns: #161616;
    font-weight: 600;
}

.blog-icons {
    width: 143px;
    display: flex;
    column-gap: 30px;
}

.blog-icons p {
    font-size: 16px;
    color: #161616b6;
}


/* blogs styling endss */

/* button for tab 1*/
.button-for-tab {
    background-color: #DD0000;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    width: 1000px;
    padding: 10px 50px;
}

.extra-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
    visibility: hidden;
    padding: 10px 20px;
}

/* button for tab 1*/

/* flex buttons for tab */
#tab-btn-3 {
    margin-bottom: 30px;
    background-color: #DD0000;
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-buttons {
    display: flex;
    gap: 22px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 0px;
    display: none;
}

.tab-btn {
    width: 230px;
    height: 64px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}


/* flex buttons for tab */

/* Blog section ends */


/* Footer section */

footer {
    background-color: #161616;
    height: 400px;
    padding-top: 130px;
    margin-top: 130px;
}

.top2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-heading {
    text-align: center;
    color: white;
    font-size: 40px;
}

hr {
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 50px 0px 50px 0px;
}

.footer-menus {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.footer-menu {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
}

/* Footer section ends */


/* media queries */

/* ------------------tablet device 991 to 688 px--------------- */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .head-cont {
        width: 734px;
        height: 398px;
        border-radius: 30px;
    }

    #div1 {
        margin-bottom: 160px;

    }

    .heading {
        font-Weight: 700;
        font-size: 40px;
        line-height: 50px;
    }

    .child-cont {
        width: 316px;
        height: 276px;
    }

    .para {
        font-Weight: 400;
        font-Size: 14px;
        Line-height: 24px;
        margin-bottom: 20px;
    }

    .header-button {
        padding: 12px;
        gap: 10px;
        width: 161px;
        height: 48px;
        background: #DD0000;
        border-radius: 5px;
    }

    .header-img {
        width: 325px;
        height: 336px;
    }

    .mini-cont {
        display: none;
    }

    .tab-buttons {
        display: inline-flex;
    }

    .for-tab {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: -100px;
    }

    .blog-cont {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        row-gap: 20px;
    }

    .blog-divs {
        width: 357px;
        height: 414.21px;
    }

    .blog-cont .blog-divs .blogs img {
        width: 358px;
        height: 175px;
    }

    .extra-button {
        visibility: visible;
        margin-bottom: -20px;
    }

}

/* ------------------tablet device 991 to 688 px---------------  */

/* ------------------mobile device 688 px--------------- */

@media only screen and (max-width: 668px) {
    .head-cont {
        display: flex;
        flex-direction: column;
        height: 710px;
        width: 364px;
        padding-top: 10px;
    }

    .child-cont {
        text-align: center;
    }

    .header-img {
        width: 255px;
        height: 273px;
    }

    .tab-buttons {
        display: flex;
        flex-direction: column;
        row-gap: 0px;
    }

    .blog-cont {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        row-gap: 20px;
    }

    .mini-cont {
        display: none;
    }
}

/* ------------------mobile device 688 px--------------- */

/* media queries */